<div class="container">
    <div class="page-header">
        <h1>A simple chat server</h1>
        <p class="lead">Using WebSockets and Express.</p>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div>Your name:</div>
            <input type="text" id="name"/>
        </div>
        <div class="col-md-8">
            <div id="chatInput">
                <div>What do you want to say?</div>
                <input type="text" id="message"/>
                <button id="submit" type="submit">Send</button>
            </div>
        </div>
    </div>

    <div class="page-header"></div>

    <div class="row">
        <div class="col-md-8">
            <h2>Chat History</h2>
            <div id="chatLog"></div>
        </div>

        <div class="col-md-4">
            <h2>Users online:</h2>
            <ul id="users" />
        </div>
    </div>
</div>